<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Le classificateur pour chiens et chats</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .hero {
            background: black url(static/images/bg_cat.jpg) center / cover;
        }

        .footer_bg {
            background: black url(static/images/bg_footer.jpg) center / cover;
            height: 110px;
        }
    </style>

</head>


<body>

    <!-- .hero -->
    <section class="hero is-fullheight" has-background-black>

        <!--<section class="section">
        <div class="container">
            <h1 class="title">
                Chien & Chat Classification
            </h1>
            <p class="subsubtitle">
                by <strong>chaymae BENCHAIB</strong>
            </p>
        </div>   
        </section> --->


        <section class="section" style="padding: 10rem 1.5rem;">


            <div class="has-text-centered"><img src="static/images/dog-cat.jpg"></div>



            <div class="container has-text-centered bg-text" style="width: 100%">

                <div>
                    <i class="arrow_down"></i>
                    <form action="/classifier" method="post" enctype="multipart/form-data"
                        style="margin-top: 30px; width: 80%; text-align: center; margin: auto;">
                        <div class="file has-name is-centered">
                            <label class="file-label">
                                <input class="file-input" type="file" id="image" name="image">
                                <span class="file-cta">
                                    <span class="file-label">
                                        Upload
                                    </span>
                                </span>
                                <span class="file-name" id="file-name">
                                    Aucun fichier choisi
                                </span>

                            </label>
                        </div>
                        <br>
                        <input type="submit" value="Classifier" class="button is-black" name="image"
                            id="classifier-btn">
                    </form>

                </div>

            </div>
            </div>
            </div>
        </section>


    </section>


    <!-- .section -->
    <section class="bd-footer-link">
        <div class="container">
            <!---- <div class="columns">
                <div class="column">
                        <article class="media notification has-background-white">
                            <div class="media-content">
                                <div class="content">
                                    <p class="subsubtitle">
                                    <strong>Contact</strong>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                <div class="column">
                    <article class="media notification has-background-white">
                        <div class="media-content">
                            <div class="content">
                                <div class="columns">
                                    <div class="column">
                                        <p class="subsubtitle">
                                            <strong>Phuong Chu</strong>
                                        </p>
                                    </div>
                                    <div class="column">
                                        <a class="navbar-item" href="https://www.linkedin.com/in/phuong-t-m-chu/">
                                            <figure class="media-content">
                                                    <span class="icon">
                                                        <i class="fab fa-lg fa-linkedin"></i>
                                                    </span>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="column">
                                        <a class="navbar-item" href="https://github.com/ReiCHU31">
                                            <figure class="media-content">
                                                    <span class="icon">
                                                        <i class="fab fa-lg fa-github"></i>
                                                    </span>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="column">
                                        <a class="navbar-item" href="mailto:chuthiminhphuong31@gmail.com">
                                            <figure class="media-content">
                                                    <span class="icon">
                                                        <i class="fas fa-lg fa-envelope-open-text"></i>
                                                    </span>
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="column">
                                            <a class="navbar-item" href="https://twitter.com/">
                                                <figure class="media-content">
                                                        <span class="icon">
                                                            <i class="fab fa-lg fa-twitter"></i>
                                                        </span>
                                                </figure>
                                            </a>
                                        </div>
                                    <div class="column">
                                            <p class="subsubtitle">
                                                <strong>Minh Nguyen</strong>
                                            </p>
                                        </div>
                                        <div class="column">
                                            <a class="navbar-item" href="https://www.linkedin.com/in/minh-huu-5630ba59/">
                                                <figure class="media-content">
                                                        <span class="icon">
                                                            <i class="fab fa-lg fa-linkedin"></i>
                                                        </span>
                                                </figure>
                                            </a>
                                        </div>
                                        <div class="column">
                                            <a class="navbar-item" href="https://github.com/minhhuu291">
                                                <figure class="media-content">
                                                        <span class="icon">
                                                            <i class="fab fa-lg fa-github"></i>
                                                        </span>
                                                </figure>
                                            </a>
                                        </div>
                                        <div class="column">
                                            <a class="navbar-item" href="mailto: minhhuu291@gmail.com">
                                                <figure class="media-content">
                                                        <span class="icon">
                                                            <i class="fas fa-lg fa-envelope-open-text"></i>
                                                        </span>
                                                </figure>
                                            </a>
                                        </div>
                                </div>
                            </div>    
                            </div>
                        </div>
                    </article>
                </div>
            </div>--->

            <p><strong>Project by: Chaymae BENCHAIB</strong></p>
        </div>
    </section>
    <!-- /.section -->
    <!-- /.hero -->


    <script src="/static/script.js"></script>
</body>

</html>